
#header
{
    padding: 20px 10px;
    margin: 5px 5px;
    background-color: aliceblue;
    display:inline;

}
#header-img
{
    float: left;
    /* size: 10px; */
    height:120px;
    width:120px;
    display:inline;
}

navbar
{
     
}
#nav-bar li
{
    display: inline-block;
    float: right;
    list-style-type: none;
    font-size: 18px;
    color: #08090a;
    padding-right: 3vh;
}
/* #nav-link 
{
    float: right;
} */